<div class="row">
  <div class="col-12">
    <%= select_tag 'page', options_for_select(@page, params[:p]), { prompt: "请选择一页", class: 'd-block form-control form-control-lg' } %>
    <br>
    <% if params[:p].blank? %>
      <h3>👆 请从上面选择一页。</h3>
    <% end %>
    <% if @can_generate_translation_file %>
      <%= link_to '生成翻译和语音', root_path(p: params[:p], g: true), class: 'btn btn-primary btn-block btn-lg' %>
      <br>
      <br>
    <% else %>
      <table class="table table-bordered table-striped">
        <% @res.try(:each_with_index) do |res, i| %>
          <% res[:tw].each do |tw| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= tw[:query] %></td>
              <td>
                <i class="fas fa-volume-up"></i>
                <audio>
                  <source src="<%= tw[:speakUrl] %>" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </td>
              <td>
                <div><%= tw[:translate_text] %></div>
                <div class="d-none"><%= tw %></div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

    <% end %>

    <br>
    <br>
    <br>
    <br>
  </div>

</div>


<script>
  $(function () {
    $('tr').on('click', function () {
      $(this).find('audio')[0].play()
      // console.log($(this).find('audio'))
    })

    $('#page').on('change', function () {
      Turbolinks.visit('<%= root_path %>' + '?p=' + $(this).val())
      // console.log($(this).val())
    })
  })
</script>
